%td
  = user.email
%td
  = form_for user, url: change_role_user_path(user) do |f|
    = f.select(:role, ["user", "admin"], selected: current_organisation.is_admin?(user) ? "admin" : "user" )
    = f.submit 'Change Role', :class => 'button-xs'
%td
  = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user
