= form_for [current_organisation, @election] do |f|
  - if @election.errors.any?
    #error_explanation
      %h2= "#{pluralize(@election.errors.count, "error")} prohibited this election from being saved:"
      %ul
        - @election.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .field.form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
    = f.hidden_field :created_by, value: current_user.id
  .field.form-group
    = f.label :end_date
    = f.date_select(:end_date, :order => [:day, :month, :year])

  .actions
    = f.submit 'Save', class: "btn btn-default"

    - if @election.persisted?
      %button.btn.btn-default{:type => "button"}= link_to 'Edit candidates', organisation_candidates_path(current_organisation, election_id: @election)
