.row.individual_election
  .col-md-8.col-md-offset-2
    .row
      .col-md-8.text-left
        %h3= candidate.name
        %p.small-text= "Created #{time_ago_in_words(candidate.created_at)} ago".html_safe
        %p= truncate(candidate.description, length: 150)
      .col-md-4.text-left
        = image_tag candidate.avatar.present? ? candidate.avatar.url(:square) : 'candidate_placeholder.jpg'

    - if current_organisation.is_admin?(current_user)
      .row
        .col-md-12.text-left
          .btn-group.btn-group-xs{:role =>"group"}
            %button.btn.btn-default{:type => "button"}= link_to 'Edit', edit_organisation_candidate_path(current_organisation, candidate)
            %button.btn.btn-default{:type => "button"}= link_to 'Delete', organisation_candidate_path(current_organisation, candidate), :method => :delete, :data => { :confirm => 'Are you sure?' }
    - if current_organisation.is_admin?(current_user) && !@election
      .row
        .col-md-12.text-left
          - if candidate.elections.count == 0
            %p This candidate is not a part of any elections.
          - else
            %p= "Elections: #{candidate.elections.map{|e| link_to e.title, organisation_election_path(current_organisation, e)}.join(', ')}".html_safe
%hr.col-md-10.col-md-offset-1
%hr
