= form_for [current_organisation, @candidate] do |f|
  - if @candidate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@candidate.errors.count, "error")} prohibited this election from being saved:"
      %ul
        - @election.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .field.form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
  .field.form-group
    = f.label :avatar, "Picture"
    = f.file_field :avatar
  - if current_organisation.elections.count > 0
    = f.label(:election_ids, 'Elections this candidate is a part of:')
    = f.select :election_ids, options_for_multiple_select(current_organisation.elections.pluck(:title), current_organisation.elections.pluck(:id)), {}, { multiple: true, size: 5 }
  .actions
    = f.submit 'Save', class: "btn btn-default"
    - if @candidate.persisted?
      %button.btn.btn-default{:type => "button"}= link_to 'Delete', [current_organisation, @election, @candidate], :method => :delete, :data => { :confirm => 'Are you sure?' }
