.container
  .row.election_overview
    .col-md-8.col-md-offset-2.text-left
      .row
        %h3= "Edit #{@candidate.name}"
        %p.small-text= "Created #{time_ago_in_words(@candidate.created_at)} ago".html_safe
  .row
    .col-md-8.col-md-offset-2.text-left
  .row.election_overview
    .col-md-6.col-md-offset-2.text-left
      .row
        = render 'form'
    .col-md-2
      .row
        = image_tag @candidate.avatar.present? ? @candidate.avatar.url : 'candidate_placeholder.jpg'
